*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  line-height: 1.5;

  max-width: 100vw;
  height: 100vh;

  background-color: hsl(0, 0%, 10%);

  padding: 2rem;
}

/* ##################################TYPOGRAPHY################################# */

h1 {
  color: white;
  margin: 4rem auto;
  text-align: center;
  font-size: 8rem;
}

.table {
  width: 45rem;
  aspect-ratio: 1;

  margin: 0 auto;

  background-color: white;

  display: grid;
  grid-template-columns: repeat(3, 15rem);
  grid-template-rows: repeat(3, 15rem);

  gap: 1px;
}

.square {
  width: 100%;
  height: 100%;
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.invisible {
  display: none;
}

.circle-win,
.cross-win {
  text-align: center;
  color: crimson;
  margin: 5rem 0;
  font-size: 4rem;
}

.button {
  font-size: 1.6rem;
  width: 7em;
  height: 3em;
  padding: 3rem, 0.5em;
  border: 1px solid teal;
  background-color: white;
  cursor: pointer;
}

.buttons {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
